<a href="https://colab.research.google.com/github/TileshwarGupta/TileshwarGupta/blob/main/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#code 1

In [ ]:
print("hello world")

hello world

code 2

In [ ]:
print("namastey india")

namastey india

code 3

In [ ]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")
print("* * * *")
print("* * *")
print("* *")
print("*")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Additional information:-
1. Backslash n(\n) is the character that is used to create the new line.
2. You can comment in python using a single hash(#) symbol at the begining.
3. Commenting are programmer readable explanation and generally ignored by compilers and interpreters.

More about Print statement:-

Code 1
 (printing multiple strings in 1 line)

In [ ]:
print("oh","my","god")

oh my god

CODE 2 (printing natural number)

In [ ]:
print('10')

10

code 3(printing fractional number )

In [ ]:
print('10.34')

10.34

code 4(combining all the above in 1 line)

In [ ]:
print('oh','my','god',10,20)

oh my god 10 20

**common syntax errors that needs to be taken care of:-**
1. Spellings of print in print statement should be correct.
2. You must use the round brackets after print.
3. you can use single or double qoutes in a print statement.
4. Do not use the combination od qoutes viz........>print('hello") If you hasve started with a single qoute then end with a singlr quote.

**Variables:-**
code 1

In [ ]:
a=10
b=10
print(a) #it print the vale of a
print(b) #it print the value of b
print(a+b) #it print the vale of a+b
print(a-b) #it print the vale of a-b
print(a*b) #it print the vale of a*b
print(a/b) #it print the vale of a/b

10
10
20
0
100
1.0

Code 2

In [ ]:
a=1
print(a)
a=a+1 #it will increment of 1
print(a)
a+=1 #it will increment of 1
print(a)
a-=1 #it will decrement of 1
print(a)

1
2
3
2

**input Statement (Let's interact with the end user):-**


Code 1

In [ ]:
print("enter a number :")
n=int(input())
print(n)
print(n+1)
print(n+2)

enter a number :
10
10
11
12

**Variables and Input Statements :-**


Code 1

In [ ]:
print('hello,what is your name?')
name= str(input())   #it will take input as string data type from the end user
print('which place are you in ?')
place = str(input())
print('Hello',name, 'how is the weaather in',place, '?')

hello,what is your name?
Tileshwar
which place are you in ?
Hazaribagh
Hello Tileshwar how is the weaather in Hazaribagh ?

**Merging Print and Input Statements :-**


Code 1

In [ ]:
num  = int(input('Enter a number :'))

Enter a number :10

Code 2

In [ ]:
r = int(input('Enter the radius of the cicle:'))
area = 3.14*r*r
print('Area of the circle is:',area)

Enter the radius of the cicle:48
Area of the circle is: 7234.5599999999995

In code 2,

'r' and 'area'are variables.
The value of pi that is always 3.14 is the literal.

**Let's learn about data types:-**

Code 1

In [ ]:
num = 10
dec_num = 9.4
s = "scooby doo!"
print(num)
print ('num is of type:',type(num))
print (dec_num)
print ('dec_num is of type:',type(dec_num))
print (s)
print ('s is of type:',type(s))

10
num is of type: <class 'int'>
9.4
dec_num is of type: <class 'float'>
scooby doo!
s is of type: <class 'str'>

The Commend .....>Type(variable)<........ print the adta type of the value that is stored in the variable.

data type "int" means integers.
dat type 'float' is used for decimzl type numbers.
dat type 'str' a string is a value reprenting text.

**Learning about Lists:-**

code 1

In [ ]:
l =[10,20,30]
print(l)
print(l[0])
print(l[1])
print(l[2])

[10, 20, 30]
10
20
30

**Additional info:-**

computer start counting from the number zero.

**Boolean Data type :-**


code 1

In [ ]:
b1 = True
b2 = False
print('b1 is of type', type(b1),'\n'  )
print('b2 is of type', type(b2),'\n'  )

b1 is of type <class 'bool'>

b2 is of type <class 'bool'>

**Conversion of one data type to another (type conversion or Type casting):-**


code 2

In [ ]:
a = int(4.5)
b = int('10')
print(a, type(a), '\n')
print(b,type(b), '\n')

4 <class 'int'>

10 <class 'int'>

The variable 'a' printed the value as 4 and not 4.5, This is becouse we asked the Variable to store only integer valuues in it. So , it ignored the decimal part and stored the integer part.


code 3

In [ ]:
c = float(5)
d  = float('10')
print(c, type(c) , '\n')
print(d, type(d), '\n')

5.0 <class 'float'>

10.0 <class 'float'>

Similarly you can convert integer and float to sting, give it a try!


Code 4

In [ ]:
e = bool(10)
f = bool(0)
g = bool(-10)
print(e, type(e), '\n')
print(f, type(f), '\n')
print(g, type(g), '\n')

True <class 'bool'>

False <class 'bool'>

True <class 'bool'>

The variable f is false because when computers convert integers into boolean every integer except 0 is considered as true, 0 is the only value which gives a boolean value as false.


code 5

In [ ]:
h = bool('Hehe')
i = bool('10')
j = bool('10.5 ')
k = bool('0 ')
print(h, type(h), '\n')
print(i, type(i), '\n')
print(j, type(j), '\n')
print(k, type(k), '\n')

True <class 'bool'>

True <class 'bool'>

True <class 'bool'>

True <class 'bool'>

Here, the variable k is true because the zero in varible k is neither integer nor float. It is a string and string representation of boolean is always true except one condition. if the string is empty the boolean representation od empty steing will be false.

**Operators and Expressions:-**


code 1

In [ ]:
a = 30
b =10
n = a +b
print(n)

40

code 2

In [ ]:
c ='cool'
d ='drunk'
e = c+d
print(e)

cooldrunk

code 3

In [ ]:
f = [1,2,3]
g = [4,5,6]
h = f +g
print(h)

[1, 2, 3, 4, 5, 6]

code 4

In [ ]:
i=9
j=10
k=i/j
print(k)

0.9

In [ ]:
n=10+13*2
print(n)

36

code 5

In [ ]:
n = ((10+13)*2)
print(n)

46

**more about operators:-**


in python there are 3 types of operators:-
1. Arithmetic Operators
2. Relational Operaters
3. Logical Operators


code 1  (Arithmetics operators)

In [ ]:
print('additon',2+3)
print('subtraction',3-4)
print('multiplication',3*4)
print('division',7/3)
print('floor division',8//3)
print('mudolus',7%3)
print('exponential',6**3)

additon 5
subtraction -1
multiplication 12
division 2.3333333333333335
floor division 2
mudolus 1
exponential 216

Floor division operator will only give the integer part as the output and leave the decimal part.


Division operator gives the integer as well as the decimal part as the output.



code 2   (Relational Operators)

In [ ]:
print(5>2)
print(8<5)
print(5>5)
print(5<=5)
print(5==50)
print(5==5)
print(5!=6)
print(6!=11)

True
False
False
True
False
True
True
True

Output of Relational Operators will always be a boolean value



Code 3 (lOGICAL OPERATORS)

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(True or True)
print(True or False)
print(False or True)
print(False or False)
print(not(True))
print(not(False))

True
False
False
False
True
True
True
False
False
True

**more about strings:-**


Indexing, Slicing and more :-


code 1 (indexing )

In [ ]:
s = 'coffee'
t = 'bread'
print(s[0])    #Indexing
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(t[3])

print(s[0:3])   #slicing
print(t[1:4])

c
o
f
f
e
e
a
cof
rea

In [ ]:
l = '0123456789'
a = l[0]
b = l[1]
print(a + b)
c = l[4]
d = l[7]
print(c + d)

01
47

**Some concept about strings**


code 1

In [ ]:
s = 'good'
print(s*4)
print(s[0]*4)

goodgoodgoodgood
gggg

code 2

In [ ]:
x ='India'
print(x=='india')
print(x=='India')
print('apple'>'one')
print('four'<'five')
print('abcdef'<'abcde')

False
True
False
False
False

In print('abcdef'<'abcde')  Letter 'f' on left side has no letter left on theright side to be compared with. Therefore "f" can not be smaller thasn nothing. hence it is false.


code 3

In [ ]:
x = "python"
print(x[0])
print(x[1])
print(x[2])



#Negative Indexing

x = 'python'
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])


#String size or length
s = 'waterplants'
print(len(s))

p
y
t
n
o
h
t
11